/*2TODO Otimizar a importação das fontes com um único link */

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

/* pt -> Pontos de tipografia
padrão ABNT -> Arial 12 pt
mm -> milimetro
cm -> centimetro */

/*Alguns valores de propriedade nao tem valores de medida .
exemplo: line-height, aspecto-ratio, font-weight*/


* { /* "*" -> todos os elementos aplicáveis*/
    margin:0;
    padding: 0;
    border: none;
    box-sizing: border-box}
    /*box-sizing como o css calcula o tamanho dos elementos*/
    /*display:block; faz com que os elementos se comportem como "blocos cheios, ocupando
    100% da alrgura disponivel do elemento pai*/
    /* elementos tem display: inline (a, ing, span)*/
    /*list-style: none; estilo da lita (marcadores); nenhum*/
    /*blockquote quote: none; marcas de citação: nenhuma*/
    

:root { /* root -> todos os elementos raiz (HTML), mais alta hierarquia*/
    font-size: 16px;/*tamanho base do rm -> 1 rem = 16px*/
    scroll-behavior: smooth;/*comportamento de rolagem: suave*/
    --cor-primaria-texto:#353535; /*cria-se uma VARIÁVEL para atribuir a cor*/
    --cor-fundos-tags: #bebebe;
    --padding-padrao-secao: 40px;

    /*TEMA:light */
    --plano-fundo:#ffffff;
    --cor-primaria-texto:#353535;
    --cor-fundo-tag: #bebebe;

}

[data-tema="light"]{
    --plano-fundo:#ffffff;
    --cor-primaria-texto:#353535;
    --cor-fundo-tag:#353535;
    --cor-fundo-apresentacao: magenta;
    --cor-fundo-formacao-academica: lightblue;
    --cor-fundo-experiencia-profissional: green;
    --cor-fundo-Hard-Skills: white;
    --cor-fundo-Idiomas: blue;
    --cor-fundo-Soft-Skills: lightblue;
    --cor-fundo-Informacoes-Complementares: white;
    --cor-fundo-tecnologia: lightgray;
    
}

[data-tema="dark"]{
    --plano-fundo: #3535335;
    --cor-primaria-texto:#ffffff;
    --cor-fundo-tag:#353535;
}

body {   
    width: 80vw;/* 80vw: viewport width*/
    margin:auto;/* margem com ajuste automático*/
    font-size: 20px;/*o padrão é 16px*/
    font-family: "Architects+Daughter&family", sans-serif;
    font-weight:20px;
    background-color: var(--plano-fundo);
}


.meu-curriculo {
    font-family: "Overpass",sans-serif;
    font-size:3rem;
    margin: 2rem 1rem 3rem 4rem; /* shorthand para margi-top margin-right margin-bottom margin-left*/
    color: var(--cor-primaria-texto); /*cor foi criada em root para ser aplicada nos diferentes 
    títulos*/
}

section {
    padding:40px 0; /*preenchimento {interno} */
} 

#apresentacao {
    background-color: hsl(17, 100%, 74%)

}

#formacao-academica {
    background-color: hsl(60, 80%, 90%);
}

#experiencia-profissional {
    background-color: hsl(195, 53%, 79%);
}

#Hard-Skills {
    background-color: hsl(350, 100%, 88%);
}

#Idiomas {
    background-color: hsla(180, 100%, 50%, 0.493);
}

#Soft-Skills {
    background-color: hsla(34, 57%, 70%, 0.84);    
}

#Informacoes-Complementares {
    background-color: hsla(36, 100%, 90%, 0.822);
}

#tecnologia {
    background-color: hsla(180, 100%, 50%, 0.635);
    display: flex;
    /*exibe como caixa flexivel (Flexbox)*/
    /*Flexbox tem várias atividades que propriedades que trabalham junto*/
    /*display: flex -> sempre aplicado no  elemento PAI (container)*/
    justify-content:space-between;
    /*alinha o conteudo somente entre os elementos*/
}


#Apresentacoo, 
#Formacao-Academica, 
#experiencia-profissional, 
#Hard-Skills,
#Idiomas,
#Soft-Skills,
#Informacoes-Complementares,
#tecnologia{
    padding: 40px; /*para não repetir os comandos para cada titulo/componente
     da lista e criar uma regra para todas as seçoes, listar todas as seções e inserir os
     atributos*/
    
}  
/* TO DO (aula 05
1. estilizar as demais seçoes
2. estilizar elementos article
3. tirar as sombras do texto*/

/*Combinadores*/ 

article h1 {/* h1 descendente de article */
    font-size: 2rem;
    font-weight: bold; /* bold= 700 */
    margin: 0 0 1rem 0;

}

article h2 {/* h2 descendente de article */
    font-size: 1.5rem;
    font-weight: 600; /*demi-b0ld (quase negrito)*/
    margin: 0 0 1rem 0;
}

.autor {
    font-style: oblique;
    font-weight: 600;
    font-size: 80%;
}

.data {
    font-style: oblique;
    font-size: 80%;
    
} 
.continue-lendo{
    background-color: aqua;
    padding-left: .5rem 1rem;
    margin-top: 1rem;
    border-radius: 8px;
    color: ffffff;
    text-decoration:none;
}
    
article p {
    text-align: justify;
    margin-bottom: 1rem;
    height: 19px;
    overflow: hidden;/*transbordamento escondido - o delimitamento tem que ser definido pela altura ou 
    largura. O overflow está vinculado. Pode estar ligado ao Scroll = barra de rolagem*/
}   

article {
    width: 30%;/* 30% do PAI (section id=*tecnologias*)*/
    background-color: bisque;
    padding: 2rem;
    

}

.titulo-secao{
    text-transform: uppercase; /*transformar o texto em maiusculo*/
    font-family: "Overpass", sans-serif;
    color:darkorchid;
    font-size: 2rem;
    margin: 1rem 0 2rem 0; /*valores: cima direita baixo esquerda*/
    padding: 1rem; /* valores: cima direita baixo esquerda*/
    /*text-shadow:1px 1px 2px dimgray;*/
}

p{
    line-height: 1.5;/*altura/ da linha 1.5 do tamanho padrão*/
    margin: 1rem 0; /*valores: cima-baixo  esquerda-direita*/
}

h3{
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: upercase;
    margin: 1rem 0;
    text-shadow: 2px 2px 2px grey; /*deslocamento x deslocamento y espalhamento cor*/

}

h1{
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
}

.lista-tags li {
    display: inline-block;
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 4px;
    margin: 5px;
    color: var(--cor-primaria-texto
}   




/*div style="font-size:20px;">
<p style="font-size: 3em;">O tamanho da fonte deste paragrafo é proporcional ao tamanho
da fonte definition no seu elemento PAI, ou seja (TO BE DONE: COMPLETAR)*/

    
   /*table
        border-collapse:collapse; /*determina se as bordas da tabela serão
        individualizadas (separate ou compartilhadas (collapse)
        border-spanding: 0;/*espaçamento entre as bordas: 0*/  
        
    /* : -> pseudo-classe
    blockquote:before -> antes do elemento blockquote
    blockquote:after -> depois do elementos blockquote
    existem muitas pseudo-classe*/

